.welcome_about {
    width: 100%;
    padding: 0 5% 0 20%;

    .face{
        display: flex;
        justify-content: flex-end;
        width: 100%; height: auto;
        position: relative;

        .welcome_title {
            position: absolute;
            top: 10%; left: 5%;
            
            h2 {
                font-size: 100px;
                font-family: 'DM Serif Display', serif;
                color: #000;
            }
            h3 {
                font-size: 32px;
                text-align: left;
                color: #777;
                padding-left: 7%;
            }
            >p {
                white-space: pre-line;
                margin-top: 7%;
                font-family: 'Noto Serif KR', serif;
                font-size: 18px;
                &:nth-of-type(3) {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
        .welcome_img {
            width: 55%;
        }
    }
    .welcome_contents {
        width: 100%; 
        margin: 3% 0 10% 0;
        display: flex;
        justify-content: space-around;

        li {
            width: 25%;
            padding-top: 3%;
            border-top: 5px solid #000;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                font-size: 32px;
                margin-bottom: 8%;
                color: #333;
                white-space: nowrap;
            }
            p {
                font-size: 18px;
                font-family: 'Noto Serif KR', serif;
            }  
        }
    }
}