.cart {
    width: 80%;
    height: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: fixed;
    bottom: 2%; left: 10%;
    background: #2564D8;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;


    &.active {
        width: 100%;
        height: 100vh;
        bottom: 0; left:0;
        background: #fff;
        z-index: 100;
        flex-direction: column;
        justify-content: space-around;
        align-items: inherit;
        border-radius: 0;
        padding: 0 20px;

        article {
            display: block;
        }
        .cart_title {
            display: block;
        }
        .cart_icon {
            display: none;
        }
        .cart_list {
            display: block;
        }
        .order {
            display: block;
        }
    }
    article {
        display: none;
    }
    .cart_icon {
        display: none;
    }
    .cart_title {
        text-align: left;
        font-size: 1rem;
        font-weight: normal;
    }
    .cart_list {
        display: none;
        overflow: auto;
        margin: 5% 0;

        li {
            margin-bottom: 5%;

            .item_info {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #ccc;

                .item_img {
                    width:30%;
                }
            }
        }
    }
    .order {
        display: none;
        width: 100%; height: 80px;
        background: #2564D8;
        color: #fff;
        font-size: 18px;
    }
}