.cart_btn {
    width: 150px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    bottom: 3%; right: 3%;
    background: #fff;
    border: 1px solid #777;
    transition: .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    color: #111;
    cursor: pointer;

    &.active {
        flex-direction: column;
        background: #fff;
        border: 0;
        border-radius: 0;
        color: #111;
        width: 250px;
        height: auto;

        .cart_title {
            display: none;
        }
        .close {
            display: flex;
        }
        .order {
            display: flex;
        }
    }
    .cart_title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .close {
        display: none;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        border: 1px solid #111;
        margin-top: 10%;

        img {
            width: 30px;
        }
    }
    .order {
        background: #333;
        width: 100%;
        height: 50px;
        display: none;
        border-right: 1px solid #111;
        justify-content: center;
        align-items: center;
        color: #fff;
        
    }

}

.cart {

    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: -100%; left: 0;
    width: 100%;
    height: 80vh;
    z-index: 20;
    transition: .5s;
    border-top: 1px solid #333;
    box-shadow: 0 0 5px solid rgba(0, 0, 0, 0.6);

    &.active {

        display: flex;
        bottom: 0; left: 0;

        .cart_back {
            display: flex;
            flex-direction: column;
            justify-content: inherit;
            align-items: inherit;
            border-radius: 0;
    
    
            h3 {
                display: block;
    
            }
            .cart_title {
                display: block;
            }
            .cart_icon {
                display: none;
            }
            .cart_list {
                display: block;
            }
        }
       
    }

    .cart_back {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 3% 3% 0 3%;

        h3{
            display: none;
            width: 100%;
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 1%;
        }
   
        .composition {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .composition_detail {
                width: 20%;
                display: flex;
                flex-direction: column;
                padding-left: 5%;
                padding-top: 5%;

                div {
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-size: 1.25rem;
                        margin-bottom: 10%;
                    }
                }
                
            }
            .cart_title {
                text-align: left;
                font-size: 1.5rem;
                font-weight: normal;
            }

            .cart_list {
                width: 80%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                border-right: 1px solid #333;
                padding-bottom: 3%;

                li {
                    flex: 0 0 13%;
                    margin-right: 3%;
                    margin-bottom: 2%;
                    position: relative;
                    background: #eee;
                
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: url('../src/img/icon/x.png') center center / cover;
                        z-index: 10;
                    }
                    .item_info {
        
                        .item_img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .inquire_input {
            width: 45%;

        }
        
    }

}