.category {
    position: fixed;
    top: 0; left: 0;
    width: 17%; height: 100vh;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 3%;
    z-index: 5;
    transition: .8s;

    h2 {
        font-family: 'DM Serif Display', serif;
        text-align: left;
        font-size: 40px;
        margin-bottom: 20%;
        border-bottom: 2px solid #000;
    }
    >a {
        display: inline-block;
        font-size: 18px;
        text-align: left;
        margin-bottom: 10%;
        font-weight: normal;
    }
    .config {
        margin-top: 35%;

        >h3{
            display: flex;
            font-size: 32px;
            text-align: left;
            margin-bottom: 20%;
            font-weight: bolder;
            white-space: nowrap;
            border-bottom: 2.5px solid #000;
        }
        .config_part {
            
            h4 {
                text-align: left;
                font-size: 18px;
                font-weight: normal;
            }
            .config_list {
                width: 100%;
                height: 0;
                margin: 10% 0;
                padding-left: 7%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: .5s;
                overflow: hidden;
    
                &.active {
                    height:  80%;
    
                    .category_con {
                        opacity: 1;
                    }
                }
                .category_con {
                    opacity: 0;
                    height: 50px;
                    white-space: nowrap;
                    flex: 0 0 auto;
                    transition: .8s;
                    text-align: left;
                    font-size: 22px;
                }
                
            }
        }
    }
}
