.category {
    position: fixed;
    top: 0; left: 0;
    width: 17%; height: 100vh;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 3%;
    z-index: 5;
    transition: .8s;

    // &.active {
    //     left: 0;
    // }
    h2 {
        font-family: 'DM Serif Display', serif;
        text-align: left;
        margin-bottom: 20%;
        border-bottom: 2px solid #000;
    }
    >a {
        display: inline-block;
        font-size: 18px;
        text-align: left;
        margin-bottom: 20%;
        font-weight: bolder;
    }
    .config {
        // width: auto; height: auto;
        >a {
            display: inline-block;
            display: flex;
            font-size: 18px;
            text-align: left;
            margin-bottom: 20%;
            font-weight: bolder;

            &::after {
                content: " +";
            }
        }
        .config_list {
            width: 100%;
            height: 0;
            margin-top: 10%;
            padding-left: 7%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .8s;
            overflow: hidden;

            &.active {
                height:  80%;

                .category_con {
                    opacity: 1;
                }
            }
            .category_con {
                opacity: 0;
                height: 50px;
                white-space: nowrap;
                flex: 0 0 auto;
                transition: .8s;
                text-align: left;
                font-size: 20px;
            }
            
        }
    }
}
