.category {
    width: 100%;
    position: fixed;
    top: 8vh; left: 0;
    display: flex;
    justify-content: space-around;
    background: orange;
    padding: 3% 0;
    display: none;
    .category_box {
        flex: 0 0 auto;

        h3 {
            font-family: 'DM Serif Display', serif;
            font-size: 20px;
        }
        .category_nav {
            display: none;

            a {
           

                &.category_con {
                }
            }

        }
        
       
        .config_list {
            display: none;

            h4 {
                display: none;
            }
            .config_nav {

                &.active {
    
                    .category_con {
                    }
                }
            }       
        }
    }  
}