.welcome_portfolio {
    width: 100%;
    margin: 5% 0;
    padding-left: 20px;
    padding-right: 20px;

    overflow: hidden;

    h2 {
        font-family: 'DM Serif Display', serif;
        font-size: 1.5rem;
    }
    .portfolio_slide {
        width: 100%; 
        margin-top: 5%;

        .portfolio_card {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 60vh;
            // border-radius: 20px;
            overflow: hidden;

            figure {
                width: 100%; height: 100%;
                position: relative;

                > p {
                    width: 100%; 
                    height: 100%;

                  img {
                      height: 100%;
                  }
                }

                figcaption {
                    position: absolute;
                    left: 0; bottom: 0;
                    width: 100%;
                    height: 25%;
                    // background: rgba(0, 0, 0, 0.8);
                    padding: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    color: #fff;


                    h6 {
                        font-size: 1.8rem;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .scroll {
        margin-top: 5%;
        position: relative;
    }
}