@media (max-width:480px) {

    main {
        padding-top: 168px;

        .category {
            position: fixed;
            top: 60px; left: 0;
            width: 100%;
            text-align: center;
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 5% 0;

            h2 {
                font-family: 'DM Serif Display', serif;
            }
            .category_list {
                width: 100%;
                margin-top: 5%;
                display: flex;
                justify-content: space-around;

        
                .swiper-slide {
                    width: auto !important;
                    white-space: nowrap;
                    flex: 0 0 auto;
                    display: inline-block;
                    
                    &:nth-of-type(1) {
                        text-decoration: underline;
                    }
                }
            }
        }
        .welcome_portfolio {
            width: 100%; 
            height: 65vh;
            padding: 0;
            margin: 20% 0;
            overflow: hidden;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-size: 32px;
                margin-bottom: 7%;
            }
            .portfolio_slide {
                width: 100%; height: 100%;
                display: flex;
                position: relative;
                left: 0;
                transition: .5s;

                .portfolio_card {
                    flex: 0 0 auto;
                    width: 100%;
                    height: 100%;

                    figure {
                        width: 100%; height: 100%;
                        position: relative;
    
                        > p {
                            width: 100%; height: 100%;
                          img {
                              height: 100%;
                          }
                        }

                        figcaption {
                            position: absolute;
                            left: 0; bottom: 5%;
                            width: 100%; height: 35%;
                            background: rgba(0, 0, 0, 0.8);
                            color: #fff;
                            padding: 5%;
                            
                            h6 {
                                font-size: 24px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .product_list {
            width: 100%;

            ul{
                width: 100%;

                .item_card{
                    width: 90%; 
                    height: 18vh;
                    margin: 3% auto;
                    background: #eee;
                    border-radius: 2vh;
                    overflow: hidden;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);

                    .item_info{
                        width: 100%; height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .item_img {
                            width: 146px;
                            height: 100%;

                            img {
                                width: 100%;
                            }
                        }
                        .item_detail {
                            width: 63%; 
                            height: 100%;
                            padding: 9% 5%;
                            
                            p {
                                &:nth-of-type(1) {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }


}