.welcome_select {
    display: none;
    background: #A5BDE2;
    padding: 0 20px;

    &.active {
        display: block;
    }

    .package {
        width: 100%;

        .package_con {
            width: 100%;
            background: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
            padding: 3%;

            p {
                width: 70%;
            }
        }
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            a {
                display: inline-block;
                width: 40%;
                height: 50px;
                border: 1px solid #000;
            }
        }
        
    }

    .welcome_product {
        width: 100%;
        margin-top: 10%;
        overflow: hidden;
        background: #A5BDE2;
       
    
        h2 {
            font-family: 'DM Serif Display', serif;
            font-size: 2rem;
            margin-bottom: 7%;
            text-align: center;
        }
        h3 {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
            margin-bottom: 5%;
        }
        .product_slide_wrapper {
    
            .item_list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 5%;
        
                
                .item_card{
                    width: 47%;
                    transition: .1s;
                    margin-bottom: 3%;
    
                    &.active {
                        border: 5px solid hotpink;
                    }
                    .item_info{
                        width: 100%; height: 100%;
        
                        .item_img {
                            width: 100%;
                        }
                        .item_detail {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            div {
                                width: 100%;
                                p {
                                    &:nth-of-type(1) {
                                        font-size: 0.8em;
                                    }
                                }
                            }
                            .item_more_btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                width: 100px;
                                height: 30px;
    
                                border: 1px solid #000;
    
                            }
                        }
                    }
                }
            }
        }
    }
}

