.config_main {
    background: #eee;
    padding: 5% 0 3% 0;

    h2 {
        font-size: 8rem;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        color: #333;
    }
    >p {
        width: 100%;
        text-align: center;
        color: #777;
    }
    .config_nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 3% 0;
        padding: 0 20%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 60px;
            border-radius: 10px;
            color: #777;
            font-size: 1rem;
            font-weight: bold;
            transition: .3s;
            background: #fff;
            box-shadow: 3px 3px 3px rhba(0, 0, 0, 0.6);

            &.active {
                color: #111;
                font-size: 1.25rem;
            }
        }
    }
}


.welcome_select, .welcome_recommand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: none;
    padding: 5% 0;

    &.active {
        display: block;
    }

    >section {
        margin-bottom: 10%;
    }

    h4 {
        font-size: 1.25rem;
    }
  
    .package_select, .theme_select {
        padding: 0 15%;

        article {
            display: flex;
            justify-content: space-between;
            margin-top: 10%;
            
            .package_nav, .theme_nav {
                width: 20%;
                display: flex;
                flex-direction: column;
                padding-left: 3%;
                border-right: 1px solid #aaa;
                
                a {
                    font-size: 1.25rem;
                    margin-bottom: 20%;
                    color: #777;
                    transition: .5s;

                    &.active {
                        color:#111;
                        text-decoration: underline;
                    }
                }
            }
    
            .theme_list {
                display: flex;
                justify-content: space-between;
                width: 70%;
                
                .package, .theme {
                    display: none;
    
                    &.active {
                        display: block;
                    }
                    .theme_main {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10%;
    
                        .theme_img {
                            width: 55%;
                        }
                        .theme_detail {
                            width: 40%;

                            .package_title {
                                font-size: 2rem;
                                font-weight: bold;
                                text-align: center;
                                margin-bottom: 10%;
                                color: #111;
                            }
    
                            div {
                                padding-left: 5%;
    
                                p {
                                    color: #555;
                                }
                            }
                            
                        }
    
                    }
                    .package_subtitle {
                        font-size: 1.5rem;
                        font-weight: bold;
                        text-align: center;
                        color:#555;
                    }
                    .item_list {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding: 5% 0;

                        .item_card{
                            flex: 0 0 23%;
                            width: 23%;
                            transition: .1s;
                            margin: 0 2% 10% 0;
                            position: relative;

                            &.active {
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: url('../src/img/icon/itemcheck.png') center center no-repeat rgba(0, 0, 0, 0.4);
                                    z-index: 10;
                                }
                            }
                            .item_info{
                                width: 100%; height: 100%;
                
                                .item_img {
                                    width: 100%;
                                    background: #eee;
                                }
                                .item_detail {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
            
                                    div {
                                        width: 100%;
                                        p {
                                            &:nth-of-type(1) {
                                                font-size: 0.8em;
                                            }
                                        }
                                    }
                                    .item_more_btn {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
            
                                        width: 100px;
                                        height: 30px;
            
                                        border: 1px solid #000;
            
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }


    .welcome_product, .add_item {
        width: 100%;
        padding: 5% 15%;
        background: #eee;
        overflow: hidden;

        .swiperaaa, .swiper_title {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 15% 0;

            span {
                display: inline-block;
                width: 20%;
                height: auto;
                text-align: left;
                background: transparent;
                border-radius: 0;
                text-align: center;
                font-size: 1.5rem;
                
                &.swiper-pagination-bullet-active {
                    text-decoration: underline;
                }
            }
        }
        .product_slide_wrapper {
            width: 100%;

            .item_list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-bottom: 5%;
                
                .item_card{
                    flex: 0 0 23%;
                    width: 23%;
                    transition: .1s;
                    margin-bottom: 7%;
                    position: relative;
                    margin-right: 2%;

                    &.active {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: url('../src/img/icon/itemcheck.png') center center no-repeat rgba(0, 0, 0, 0.4);
                            z-index: 10;
                        }
                    }
                    
                    .item_info{
                        width: 100%; height: 100%;
        
                        .item_img {
                            width: 100%;
                        }
                        .item_detail {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            div {
                                width: 100%;
                                p {
                                    &:nth-of-type(1) {
                                        font-size: 0.8em;
                                    }
                                }
                            }
                            .item_more_btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                width: 100px;
                                height: 30px;
    
                                border: 1px solid #000;
    
                            }
                        }
                    }
                }
            }
        }
    
        
    }

    .inquire {
        width: 100%;
        padding: 0 15%;
    }
}

.detail_lightbox {
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 30;
    transition: .7s;

    p {
        width: 65vw;
    }
    &.active {
        display: flex;
    }
}


