.welcome_product {
    width: 100%;
    margin-top: 10%;
    overflow: hidden;
    background: #A5BDE2;
   

    h2 {
        font-family: 'DM Serif Display', serif;
        font-size: 2rem;
        margin-bottom: 7%;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .product_slide_wrapper {

        .item_list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 5%;
    
            
            .item_card{
                width: 47%;
                transition: .1s;
                margin-bottom: 3%;

                &.active {
                    border: 5px solid hotpink;
                }
                .item_info{
                    width: 100%; height: 100%;
    
                    .item_img {
                        width: 100%;
                    }
                    .item_detail {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div {
                            p {
                                &:nth-of-type(1) {
                                    font-size: 0.8em;
                                }
                            }
                        }
                        >p {
                            width: 50px;
                            height: 50px;
                            background-color: #aaa
                        }
                    }
                }
            }
        }
    }

    .detail_lightbox {
        position: fixed;
        top: 0; left: 0;
        width: 100%; 
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 30;
        transition: .7s;
    
        p {
            width: 65vw;
        }
        &.active {
            display: flex;
        }
    }
    



}
