.welcome_recommand {
    width: 100%;
    height: 80vh;
    padding: 0 20px;
    display: none;

    &.active {
        display: block;
    }
    
    >section {
        margin-bottom: 10%;
    }
    h4 {
        font-size: 1.25rem;
    }
    .theme_select {
        
        .theme_nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 5% 0;

            a {
                display: inline-block;
                &.active {
                    background: skyblue;
                }
            }
        }

        .theme_list {
            display: flex;
            justify-content: space-between;

            .theme {

                display: none;

                &.active {
                    display: block;
                }
                .theme_main {
                    .theme_img {
                        width: 100%;
                    }
                    .theme_detail {
                        width: 100%;

                        .package_title {
                            font-size: 2rem;
                            font-weight: bold;
                            text-align: center;
                        }
                        .package_subtitle {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                        }
                    }

                }

                .item_list {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 5%;
            
                    
                    .item_card{
                        width: 47%;
                        transition: .1s;
                        margin-bottom: 3%;
        
                        &.active {
                            border: 5px solid hotpink;
                        }
                        .item_info{
                            width: 100%; height: 100%;
            
                            .item_img {
                                width: 100%;
                            }
                            .item_detail {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                div {
                                    width: 100%;
                                    p {
                                        &:nth-of-type(1) {
                                            font-size: 0.8em;
                                        }
                                    }
                                }
                                .item_more_btn {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
        
                                    width: 100px;
                                    height: 30px;
        
                                    border: 1px solid #000;
        
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .add_item {
        width: 100%;
        height: 50vh;
    }

    .inquire {
        width: 100%;
        height: 50vh;
    }
}