.welcome_recommand  {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    display: none;

    &.active {
        display: block;
    }
    
    >section {
        margin-bottom: 10%;
    }
    h4 {
        font-size: 1.25rem;
    }
    .theme_select {
        display: flex;
        margin-top: 5%;

        .theme_nav {
            width: 25%;
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 5%;
            border-right: 1px solid #000;

            a {
                font-size: 1.5rem;
            }
        }

        .theme_list {
            display: flex;
            justify-content: space-between;

            .theme {

                .theme_main {
                    .theme_img {
                        width: 80%;
                    }
                    .theme_detail {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;

                        h5 {
                            font-size: 3rem;
                            text-align: center;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }

                }

                .item_list {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin-bottom: 5%;
            
                    
                    .item_card{
                        width: 23%;
                        transition: .1s;
                        margin-bottom: 3%;
        
                        &.active {
                            border: 5px solid hotpink;
                        }
                        .item_info{
                            width: 100%; height: 100%;
            
                            .item_img {
                                width: 100%;
                            }
                            .item_detail {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                div {
                                    width: 100%;
                                    p {
                                        &:nth-of-type(1) {
                                            font-size: 0.8em;
                                        }
                                    }
                                }
                                .item_more_btn {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
        
                                    width: 100px;
                                    height: 30px;
        
                                    border: 1px solid #000;
        
                                }
                            }
                        }
                    }
                }
            }
        }
    }





    .add_item {
        width: 100%;
        height: 50vh;
    }

    .inquire {
        width: 100%;
        height: 50vh;
    }
}