@charset "utf-8";

@mixin flexCoulmn {

}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    width: 100%; height: 5%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;

    

    

}
main {
}
footer {
}

@import 'max480';