@media (min-width: 768px) {
  header {
    width: 100%;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    border-bottom: 1px solid #eee;
    background: #fff;
  }
  header .menu_trigger {
    display: none;
  }
  header .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart img {
    width: 100%;
  }
  header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 2%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
            box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
  }
  header .menu_trigger {
    position: relative;
    width: 20px;
    height: 13px;
    z-index: 30;
  }
  header .menu_trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  header .menu_trigger span:nth-of-type(2) {
    top: 49%;
  }
  header .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .menu_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  header .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
  header .logo {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart img {
    width: 100%;
  }
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 25;
    font-size: 24px;
  }
  header nav a {
    margin: 5% 0;
  }
  header nav.active {
    left: 0;
  }
}

@media (min-width: 768px) {
  main {
    width: 100%;
    padding-top: 60px;
  }
  main .welcome_main {
    width: 100%;
  }
  main .face {
    width: 100%;
    padding: 0 0 0 15%;
  }
  main .face h2 {
    font-size: 32px;
    font-family: 'DM Serif Display', serif;
  }
  main .face > h3 {
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
  }
  main .face ul {
    width: 100%;
    height: 100%;
    margin-top: 15%;
  }
  main .face ul li {
    width: 100%;
    padding-left: 5%;
    margin-bottom: 20%;
  }
  main .face ul li p {
    font-size: 18px;
    font-family: 'Noto Serif KR', serif;
  }
  main .face ul li h4 {
    font-size: 16px;
    margin-bottom: 3%;
  }
  main .next {
    width: 100%;
    margin-top: 15%;
  }
  main .next nav {
    width: 100%;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .next nav .btn {
    display: inline-block;
    width: 45%;
    height: 25vh;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .next nav .btn span {
    display: inline-block;
    width: 100%;
    height: 60%;
  }
  main .next nav .btn p {
    text-align: center;
    font-size: 22px;
    color: #fff;
  }
  main .next nav .btn:nth-of-type(1) {
    background: cornflowerblue;
  }
  main .next nav .btn:nth-of-type(2) {
    background: pink;
  }
  main .portfolio {
    width: 100%;
    height: 70vh;
    padding: 0 0 0 7%;
    margin: 20% 0;
  }
  main .portfolio h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
  }
  main .portfolio .portfolio_slide {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 85% !important;
    height: 100%;
    margin: 0 7% 0 0;
  }
  main .portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 100%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 24px;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  main {
    width: 100%;
    padding-top: 60px;
  }
  main .welcome_main {
    width: 100%;
  }
  main .face {
    width: 100%;
    padding: 0 0 0 15%;
  }
  main .face h2 {
    font-size: 32px;
    font-family: 'DM Serif Display', serif;
  }
  main .face > h3 {
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
  }
  main .face ul {
    width: 100%;
    height: 100%;
    margin-top: 15%;
  }
  main .face ul li {
    width: 100%;
    padding-left: 5%;
    margin-bottom: 20%;
  }
  main .face ul li p {
    font-size: 18px;
    font-family: 'Noto Serif KR', serif;
  }
  main .face ul li h4 {
    font-size: 16px;
    margin-bottom: 3%;
  }
  main .next {
    width: 100%;
    margin-top: 15%;
  }
  main .next nav {
    width: 100%;
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .next nav .btn {
    display: inline-block;
    width: 45%;
    height: 25vh;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .next nav .btn span {
    display: inline-block;
    width: 100%;
    height: 60%;
  }
  main .next nav .btn p {
    text-align: center;
    font-size: 22px;
    color: #fff;
  }
  main .next nav .btn:nth-of-type(1) {
    background: cornflowerblue;
  }
  main .next nav .btn:nth-of-type(2) {
    background: pink;
  }
  main .portfolio {
    width: 100%;
    height: 70vh;
    padding: 0 0 0 7%;
    margin: 20% 0;
  }
  main .portfolio h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
  }
  main .portfolio .portfolio_slide {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 85% !important;
    height: 100%;
    margin: 0 7% 0 0;
  }
  main .portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 100%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5%;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 24px;
  }
  main .portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  footer {
    display: none;
    width: 100%;
    height: 250px;
    background: #eee;
  }
  footer p {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  footer {
    width: 100%;
    height: 250px;
    background: #eee;
  }
  footer p {
    width: 100%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */