@import url(common.css);

@media (min-width: 768px) {
    @import 'header';
    
    main {
        padding-top: 3%;
    }
    @import 'product';
    @import'cart';
    @import 'footer';
}

@media (max-width: 480px) {
    @import 'header480';
    main{
        margin-top: 7vh;
         
        h2 {
            font-size: 2rem;
            text-align: center;
            font-family: 'DM Serif Display', serif;
            // color: #fff;
        }
    }

    .config_nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
        padding: 0 20px;
        background: #fff;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width:30%;
            height: 60px;
            border-radius: 10px;
            color: #777;
            font-size: 0.8rem;
            font-weight: bold;
            transition: .3s;
            background: #eee;
            &.active {
                background-color: #A5BDE2;
                color: #fff;
                font-size: 1rem;
            }
        }
    }
    .choice {
        display: none;
        background: #A5BDE2;
        padding: 0 20px;

        &.active {
            display: block;
        }

        .package {
            width: 100%;

            .package_con {
                width: 100%;
                background: #fff;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 5%;
                padding: 3%;

                p {
                    width: 70%;
                }
            }
            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                a {
                    display: inline-block;
                    width: 40%;
                    height: 50px;
                    border: 1px solid #000;
                }
            }
            
        }
    }
    .recommand {
        display: none;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-between;

        &.active {
            display: block;
        }

        .recommand_part {
            width: 30%;
            padding-right: 3%;
            border-right: 1px solid #ccc;

            .theme {
                width: 100%;
                .theme_img {
                    width: 100%;
                    margin-bottom: 5%;
                }
                .theme_title {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 5%;

                }
                .theme_detail {
                    font-size: 16px;
                    margin-bottom: 5%;

                }
                ul {
                
                    li {
                        margin-bottom: 5%;

                        .item_info {
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px solid #ccc;

                            .item_img {
                                width:30%;
                            }
                        }
                    }
                }
            }
        }
    }

    @import 'product480';
    @import 'cart480';
    @import 'footer480';

}

