@import url(common.css);
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    border-bottom: 1px solid #eee;
    background: #fff;
  }
  header .menu_trigger {
    display: none;
  }
  header .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart_icon img {
    width: 100%;
  }
  header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main {
    padding: 0 10%;
  }
  main h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
  }
  .config_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5% 0;
    padding: 0 20px;
    background: #fff;
  }
  .config_nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    color: #777;
    font-size: 0.8rem;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    background: #eee;
  }
  .config_nav a.active {
    background-color: #A5BDE2;
    color: #fff;
    font-size: 1rem;
  }
  .welcome_recommand {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: none;
  }
  .welcome_recommand.active {
    display: block;
  }
  .welcome_recommand > section {
    margin-bottom: 10%;
  }
  .welcome_recommand h4 {
    font-size: 1.25rem;
  }
  .welcome_recommand .theme_select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
  }
  .welcome_recommand .theme_select .theme_nav {
    width: 25%;
    height: 25vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
  }
  .welcome_recommand .theme_select .theme_nav a {
    display: inline-block;
    font-size: 1.5rem;
  }
  .welcome_recommand .theme_select .theme_nav a.active {
    background: skyblue;
  }
  .welcome_recommand .theme_select .theme_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_recommand .theme_select .theme_list .theme {
    display: none;
  }
  .welcome_recommand .theme_select .theme_list .theme.active {
    display: block;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_img {
    width: 80%;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail h5 {
    font-size: 3rem;
    text-align: center;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail p {
    font-size: 1rem;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card {
    width: 23%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_recommand .add_item {
    width: 100%;
    height: 50vh;
  }
  .welcome_recommand .inquire {
    width: 100%;
    height: 50vh;
  }
  .welcome_select {
    display: none;
  }
  .welcome_select.active {
    display: block;
  }
  .welcome_select h4 {
    font-size: 2rem;
  }
  .welcome_select .package {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_select .package .package_con {
    width: 30%;
    background: #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
    padding: 1%;
  }
  .welcome_select .package .package_con .package_img {
    width: 70%;
  }
  .welcome_select .package div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .welcome_select .package div a {
    display: inline-block;
    width: 40%;
    height: 50px;
    border: 1px solid #000;
  }
  .welcome_select .welcome_product {
    width: 100%;
    margin-top: 7vh;
    overflow: hidden;
  }
  .welcome_select .welcome_product h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    margin-bottom: 7%;
    text-align: center;
  }
  .welcome_select .welcome_product h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card {
    width: 23%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .require {
    width: 100%;
    height: 50vh;
  }
  .cart {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    background: #2564D8;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart.active {
    width: 100%;
    height: 100vh;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    border-radius: 0;
    padding: 0 20px;
  }
  .cart.active .cart_title {
    display: block;
  }
  .cart.active .cart_icon {
    display: none;
  }
  .cart.active .cart_list {
    display: block;
  }
  .cart.active .order {
    display: block;
  }
  .cart .cart_icon {
    display: block;
  }
  .cart h3, .cart p {
    display: none;
  }
  .cart .cart_title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .cart .cart_list {
    display: none;
    overflow: auto;
    margin: 5% 0;
  }
  .cart .cart_list li {
    margin-bottom: 5%;
  }
  .cart .cart_list li .item_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .cart .cart_list li .item_info .item_img {
    width: 30%;
  }
  .cart .order {
    display: none;
    width: 100%;
    height: 80px;
    background: #2564D8;
    color: #fff;
    font-size: 18px;
  }
  .detail_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .detail_lightbox p {
    width: 65vw;
  }
  .detail_lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding: 0 0 0 20%;
    width: 100%;
    background: #eee;
  }
  footer p {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 0 2%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  header .menu_trigger {
    position: relative;
    width: 20px;
    height: 13px;
    z-index: 30;
  }
  header .menu_trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  header .menu_trigger span:nth-of-type(2) {
    top: 48%;
  }
  header .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .menu_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  header .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  header .logo {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart img {
    width: 100%;
  }
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 60%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 25;
    font-size: 1rem;
  }
  header nav a {
    margin: 5% 0;
  }
  header nav.active {
    left: 0;
  }
  main {
    margin-top: 7vh;
  }
  main h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
  }
  .config_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5% 0;
    padding: 0 20px;
    background: #fff;
  }
  .config_nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    color: #777;
    font-size: 0.8rem;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    background: #eee;
  }
  .config_nav a.active {
    background-color: #A5BDE2;
    color: #fff;
    font-size: 1rem;
  }
  .welcome_recommand {
    width: 100%;
    height: 80vh;
    padding: 0 20px;
    display: none;
  }
  .welcome_recommand.active {
    display: block;
  }
  .welcome_recommand > section {
    margin-bottom: 10%;
  }
  .welcome_recommand h4 {
    font-size: 1.25rem;
  }
  .welcome_recommand .theme_select .theme_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5% 0;
  }
  .welcome_recommand .theme_select .theme_nav a {
    display: inline-block;
  }
  .welcome_recommand .theme_select .theme_nav a.active {
    background: skyblue;
  }
  .welcome_recommand .theme_select .theme_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_recommand .theme_select .theme_list .theme {
    display: none;
  }
  .welcome_recommand .theme_select .theme_list .theme.active {
    display: block;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_img {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail .package_title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .welcome_recommand .theme_select .theme_list .theme .theme_main .theme_detail .package_subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card {
    width: 47%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_recommand .theme_select .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_recommand .add_item {
    width: 100%;
    height: 50vh;
  }
  .welcome_recommand .inquire {
    width: 100%;
    height: 50vh;
  }
  .welcome_select {
    display: none;
    background: #A5BDE2;
    padding: 0 20px;
  }
  .welcome_select.active {
    display: block;
  }
  .welcome_select .package {
    width: 100%;
  }
  .welcome_select .package .package_con {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
    padding: 3%;
  }
  .welcome_select .package .package_con p {
    width: 70%;
  }
  .welcome_select .package div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .welcome_select .package div a {
    display: inline-block;
    width: 40%;
    height: 50px;
    border: 1px solid #000;
  }
  .welcome_select .welcome_product {
    width: 100%;
    margin-top: 10%;
    overflow: hidden;
    background: #A5BDE2;
  }
  .welcome_select .welcome_product h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    margin-bottom: 7%;
    text-align: center;
  }
  .welcome_select .welcome_product h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card {
    width: 47%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .welcome_product .detail_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .welcome_select .welcome_product .detail_lightbox p {
    width: 65vw;
  }
  .welcome_select .welcome_product .detail_lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart {
    width: 80%;
    height: 40px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: fixed;
    bottom: 2%;
    left: 10%;
    background: #2564D8;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart.active {
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    border-radius: 0;
    padding: 0 20px;
  }
  .cart.active article {
    display: block;
  }
  .cart.active .cart_title {
    display: block;
  }
  .cart.active .cart_icon {
    display: none;
  }
  .cart.active .cart_list {
    display: block;
  }
  .cart.active .order {
    display: block;
  }
  .cart article {
    display: none;
  }
  .cart .cart_icon {
    display: none;
  }
  .cart .cart_title {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
  }
  .cart .cart_list {
    display: none;
    overflow: auto;
    margin: 5% 0;
  }
  .cart .cart_list li {
    margin-bottom: 5%;
  }
  .cart .cart_list li .item_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .cart .cart_list li .item_info .item_img {
    width: 30%;
  }
  .cart .order {
    display: none;
    width: 100%;
    height: 80px;
    background: #2564D8;
    color: #fff;
    font-size: 18px;
  }
  .detail_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .detail_lightbox p {
    width: 65vw;
  }
  .detail_lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    display: none;
    width: 100%;
    height: 250px;
    background: #eee;
  }
}
/*# sourceMappingURL=order.css.map */