@import url(common.css);
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 0 3%;
  }
  header .menu_trigger {
    display: none;
  }
  header .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart_icon img {
    width: 100%;
  }
  header .menu_nav_back {
    width: 70%;
  }
  header .menu_nav_back .menu_nav {
    width: 100%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu_nav_back .menu_nav:nth-of-type(2) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
    background: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu_nav_back .menu_nav:hover:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 7vh;
    left: 0;
  }
  .config_main {
    background: #eee;
    padding: 5% 0 3% 0;
  }
  .config_main h2 {
    font-size: 8rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #333;
  }
  .config_main > p {
    width: 100%;
    text-align: center;
    color: #777;
  }
  .config_main .config_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 3% 0;
    padding: 0 20%;
  }
  .config_main .config_nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    color: #777;
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    background: #fff;
    -webkit-box-shadow: 3px 3px 3px rhba(0, 0, 0, 0.6);
            box-shadow: 3px 3px 3px rhba(0, 0, 0, 0.6);
  }
  .config_main .config_nav a.active {
    color: #111;
    font-size: 1.25rem;
  }
  .welcome_select, .welcome_recommand {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: none;
    padding: 5% 0;
  }
  .welcome_select.active, .welcome_recommand.active {
    display: block;
  }
  .welcome_select > section, .welcome_recommand > section {
    margin-bottom: 10%;
  }
  .welcome_select h4, .welcome_recommand h4 {
    font-size: 1.25rem;
  }
  .welcome_select .package_select, .welcome_select .theme_select, .welcome_recommand .package_select, .welcome_recommand .theme_select {
    padding: 0 15%;
  }
  .welcome_select .package_select article, .welcome_select .theme_select article, .welcome_recommand .package_select article, .welcome_recommand .theme_select article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10%;
  }
  .welcome_select .package_select article .package_nav, .welcome_select .package_select article .theme_nav, .welcome_select .theme_select article .package_nav, .welcome_select .theme_select article .theme_nav, .welcome_recommand .package_select article .package_nav, .welcome_recommand .package_select article .theme_nav, .welcome_recommand .theme_select article .package_nav, .welcome_recommand .theme_select article .theme_nav {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 3%;
    border-right: 1px solid #aaa;
  }
  .welcome_select .package_select article .package_nav a, .welcome_select .package_select article .theme_nav a, .welcome_select .theme_select article .package_nav a, .welcome_select .theme_select article .theme_nav a, .welcome_recommand .package_select article .package_nav a, .welcome_recommand .package_select article .theme_nav a, .welcome_recommand .theme_select article .package_nav a, .welcome_recommand .theme_select article .theme_nav a {
    font-size: 1.25rem;
    margin-bottom: 20%;
    color: #777;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .welcome_select .package_select article .package_nav a.active, .welcome_select .package_select article .theme_nav a.active, .welcome_select .theme_select article .package_nav a.active, .welcome_select .theme_select article .theme_nav a.active, .welcome_recommand .package_select article .package_nav a.active, .welcome_recommand .package_select article .theme_nav a.active, .welcome_recommand .theme_select article .package_nav a.active, .welcome_recommand .theme_select article .theme_nav a.active {
    color: #111;
    font-size: 1.5rem;
  }
  .welcome_select .package_select article .theme_list, .welcome_select .theme_select article .theme_list, .welcome_recommand .package_select article .theme_list, .welcome_recommand .theme_select article .theme_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
  .welcome_select .package_select article .theme_list .package, .welcome_select .package_select article .theme_list .theme, .welcome_select .theme_select article .theme_list .package, .welcome_select .theme_select article .theme_list .theme, .welcome_recommand .package_select article .theme_list .package, .welcome_recommand .package_select article .theme_list .theme, .welcome_recommand .theme_select article .theme_list .package, .welcome_recommand .theme_select article .theme_list .theme {
    display: none;
  }
  .welcome_select .package_select article .theme_list .package.active, .welcome_select .package_select article .theme_list .theme.active, .welcome_select .theme_select article .theme_list .package.active, .welcome_select .theme_select article .theme_list .theme.active, .welcome_recommand .package_select article .theme_list .package.active, .welcome_recommand .package_select article .theme_list .theme.active, .welcome_recommand .theme_select article .theme_list .package.active, .welcome_recommand .theme_select article .theme_list .theme.active {
    display: block;
  }
  .welcome_select .package_select article .theme_list .package .theme_main, .welcome_select .package_select article .theme_list .theme .theme_main, .welcome_select .theme_select article .theme_list .package .theme_main, .welcome_select .theme_select article .theme_list .theme .theme_main, .welcome_recommand .package_select article .theme_list .package .theme_main, .welcome_recommand .package_select article .theme_list .theme .theme_main, .welcome_recommand .theme_select article .theme_list .package .theme_main, .welcome_recommand .theme_select article .theme_list .theme .theme_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10%;
  }
  .welcome_select .package_select article .theme_list .package .theme_main .theme_img, .welcome_select .package_select article .theme_list .theme .theme_main .theme_img, .welcome_select .theme_select article .theme_list .package .theme_main .theme_img, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_img, .welcome_recommand .package_select article .theme_list .package .theme_main .theme_img, .welcome_recommand .package_select article .theme_list .theme .theme_main .theme_img, .welcome_recommand .theme_select article .theme_list .package .theme_main .theme_img, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_img {
    width: 55%;
  }
  .welcome_select .package_select article .theme_list .package .theme_main .theme_detail, .welcome_select .package_select article .theme_list .theme .theme_main .theme_detail, .welcome_select .theme_select article .theme_list .package .theme_main .theme_detail, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail, .welcome_recommand .package_select article .theme_list .package .theme_main .theme_detail, .welcome_recommand .package_select article .theme_list .theme .theme_main .theme_detail, .welcome_recommand .theme_select article .theme_list .package .theme_main .theme_detail, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail {
    width: 40%;
  }
  .welcome_select .package_select article .theme_list .package .theme_main .theme_detail .package_title, .welcome_select .package_select article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_select .theme_select article .theme_list .package .theme_main .theme_detail .package_title, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_recommand .package_select article .theme_list .package .theme_main .theme_detail .package_title, .welcome_recommand .package_select article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_recommand .theme_select article .theme_list .package .theme_main .theme_detail .package_title, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail .package_title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10%;
  }
  .welcome_select .package_select article .theme_list .package .theme_main .theme_detail div, .welcome_select .package_select article .theme_list .theme .theme_main .theme_detail div, .welcome_select .theme_select article .theme_list .package .theme_main .theme_detail div, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail div, .welcome_recommand .package_select article .theme_list .package .theme_main .theme_detail div, .welcome_recommand .package_select article .theme_list .theme .theme_main .theme_detail div, .welcome_recommand .theme_select article .theme_list .package .theme_main .theme_detail div, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail div {
    padding-left: 5%;
  }
  .welcome_select .package_select article .theme_list .package .theme_main .theme_detail div p, .welcome_select .package_select article .theme_list .theme .theme_main .theme_detail div p, .welcome_select .theme_select article .theme_list .package .theme_main .theme_detail div p, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail div p, .welcome_recommand .package_select article .theme_list .package .theme_main .theme_detail div p, .welcome_recommand .package_select article .theme_list .theme .theme_main .theme_detail div p, .welcome_recommand .theme_select article .theme_list .package .theme_main .theme_detail div p, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail div p {
    color: #555;
  }
  .welcome_select .package_select article .theme_list .package .package_subtitle, .welcome_select .package_select article .theme_list .theme .package_subtitle, .welcome_select .theme_select article .theme_list .package .package_subtitle, .welcome_select .theme_select article .theme_list .theme .package_subtitle, .welcome_recommand .package_select article .theme_list .package .package_subtitle, .welcome_recommand .package_select article .theme_list .theme .package_subtitle, .welcome_recommand .theme_select article .theme_list .package .package_subtitle, .welcome_recommand .theme_select article .theme_list .theme .package_subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .welcome_select .package_select article .theme_list .package .item_list, .welcome_select .package_select article .theme_list .theme .item_list, .welcome_select .theme_select article .theme_list .package .item_list, .welcome_select .theme_select article .theme_list .theme .item_list, .welcome_recommand .package_select article .theme_list .package .item_list, .welcome_recommand .package_select article .theme_list .theme .item_list, .welcome_recommand .theme_select article .theme_list .package .item_list, .welcome_recommand .theme_select article .theme_list .theme .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5% 0;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card, .welcome_select .package_select article .theme_list .theme .item_list .item_card, .welcome_select .theme_select article .theme_list .package .item_list .item_card, .welcome_select .theme_select article .theme_list .theme .item_list .item_card, .welcome_recommand .package_select article .theme_list .package .item_list .item_card, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card {
    width: 25%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card.active, .welcome_select .package_select article .theme_list .theme .item_list .item_card.active, .welcome_select .theme_select article .theme_list .package .item_list .item_card.active, .welcome_select .theme_select article .theme_list .theme .item_list .item_card.active, .welcome_recommand .package_select article .theme_list .package .item_list .item_card.active, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card.active, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card.active, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info, .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info, .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info, .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info .item_img, .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info .item_img, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info .item_img, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info .item_img, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info .item_detail, .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info .item_detail, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info .item_detail div, .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail div, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info .item_detail div, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail div, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .package_select article .theme_list .package .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .package_select article .theme_list .package .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .package_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .theme_select article .theme_list .package .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .welcome_product, .welcome_select .add_item, .welcome_recommand .welcome_product, .welcome_recommand .add_item {
    width: 100%;
    padding: 5% 15%;
    background: #eee;
    overflow: hidden;
  }
  .welcome_select .welcome_product h3, .welcome_select .add_item h3, .welcome_recommand .welcome_product h3, .welcome_recommand .add_item h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper, .welcome_select .add_item .product_slide_wrapper, .welcome_recommand .welcome_product .product_slide_wrapper, .welcome_recommand .add_item .product_slide_wrapper {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list, .welcome_select .add_item .product_slide_wrapper .item_list, .welcome_recommand .welcome_product .product_slide_wrapper .item_list, .welcome_recommand .add_item .product_slide_wrapper .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card, .welcome_select .add_item .product_slide_wrapper .item_list .item_card, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card {
    width: 23%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card.active, .welcome_select .add_item .product_slide_wrapper .item_list .item_card.active, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card.active, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .inquire, .welcome_recommand .inquire {
    width: 100%;
    padding: 0 15%;
  }
  .detail_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .detail_lightbox p {
    width: 65vw;
  }
  .detail_lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart {
    width: 12%;
    height: 50px;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
    position: fixed;
    bottom: 3%;
    right: 0%;
    background: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    color: #333;
  }
  .cart.active {
    width: 100%;
    height: 100vh;
    bottom: 0;
    right: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    border-radius: 0;
    padding: 0 20px;
  }
  .cart.active .cart_title {
    display: block;
  }
  .cart.active .cart_icon {
    display: none;
  }
  .cart.active .cart_list {
    display: block;
  }
  .cart.active .order {
    display: block;
  }
  .cart .cart_icon {
    display: block;
    font-size: 1.5rem;
    font-family: 'DM Serif Display', serif;
  }
  .cart h3, .cart p {
    display: none;
  }
  .cart .cart_title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .cart .cart_list {
    display: none;
    overflow: auto;
    margin: 5% 0;
  }
  .cart .cart_list li {
    margin-bottom: 5%;
  }
  .cart .cart_list li .item_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .cart .cart_list li .item_info .item_img {
    width: 30%;
  }
  footer {
    width: 100%;
  }
  footer p {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 0 2%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  header .menu_trigger {
    position: relative;
    width: 20px;
    height: 13px;
    z-index: 30;
  }
  header .menu_trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  header .menu_trigger span:nth-of-type(2) {
    top: 48%;
  }
  header .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .menu_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  header .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  header .logo {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart_icon {
    width: 30px;
    height: 30px;
  }
  header .menu_nav_back {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu_nav_back.active {
    left: 0;
  }
  header .menu_nav_back .menu_nav {
    width: 70%;
    height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 25;
    font-size: 1rem;
  }
  header .menu_nav_back .menu_nav a {
    margin: 5% 0;
  }
  .config_main {
    background: #eee;
    padding: 7vh 0 3% 0;
  }
  .config_main h2 {
    font-size: 4rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #333;
  }
  .config_main > p {
    width: 100%;
    text-align: center;
    color: #777;
    margin-bottom: 10%;
  }
  .config_main .config_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 3% 0;
  }
  .config_main .config_nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 60px;
    border-radius: 10px;
    color: #777;
    font-size: 0.8rem;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    background: #fff;
  }
  .config_main .config_nav a.active {
    color: #333;
    font-size: 1rem;
  }
  .welcome_select, .welcome_recommand {
    display: none;
  }
  .welcome_select.active, .welcome_recommand.active {
    display: block;
  }
  .welcome_select > section, .welcome_recommand > section {
    margin-bottom: 10%;
  }
  .welcome_select h4, .welcome_recommand h4 {
    font-size: 1.25rem;
  }
  .welcome_select .package, .welcome_select .theme_select, .welcome_recommand .package, .welcome_recommand .theme_select {
    padding: 10% 20px;
  }
  .welcome_select .package article .package_nav, .welcome_select .package article .theme_nav, .welcome_select .theme_select article .package_nav, .welcome_select .theme_select article .theme_nav, .welcome_recommand .package article .package_nav, .welcome_recommand .package article .theme_nav, .welcome_recommand .theme_select article .package_nav, .welcome_recommand .theme_select article .theme_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5% 0;
    padding-right: 5%;
  }
  .welcome_select .package article .package_nav a, .welcome_select .package article .theme_nav a, .welcome_select .theme_select article .package_nav a, .welcome_select .theme_select article .theme_nav a, .welcome_recommand .package article .package_nav a, .welcome_recommand .package article .theme_nav a, .welcome_recommand .theme_select article .package_nav a, .welcome_recommand .theme_select article .theme_nav a {
    display: inline-block;
  }
  .welcome_select .package article .package_nav a.active, .welcome_select .package article .theme_nav a.active, .welcome_select .theme_select article .package_nav a.active, .welcome_select .theme_select article .theme_nav a.active, .welcome_recommand .package article .package_nav a.active, .welcome_recommand .package article .theme_nav a.active, .welcome_recommand .theme_select article .package_nav a.active, .welcome_recommand .theme_select article .theme_nav a.active {
    background: skyblue;
  }
  .welcome_select .package article .theme_list, .welcome_select .theme_select article .theme_list, .welcome_recommand .package article .theme_list, .welcome_recommand .theme_select article .theme_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_select .package article .theme_list .theme, .welcome_select .theme_select article .theme_list .theme, .welcome_recommand .package article .theme_list .theme, .welcome_recommand .theme_select article .theme_list .theme {
    display: none;
  }
  .welcome_select .package article .theme_list .theme.active, .welcome_select .theme_select article .theme_list .theme.active, .welcome_recommand .package article .theme_list .theme.active, .welcome_recommand .theme_select article .theme_list .theme.active {
    display: block;
  }
  .welcome_select .package article .theme_list .theme .theme_main .theme_img, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_img, .welcome_recommand .package article .theme_list .theme .theme_main .theme_img, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_img {
    width: 100%;
  }
  .welcome_select .package article .theme_list .theme .theme_main .theme_detail, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail, .welcome_recommand .package article .theme_list .theme .theme_main .theme_detail, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail {
    width: 100%;
  }
  .welcome_select .package article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_select .theme_select article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_recommand .package article .theme_list .theme .theme_main .theme_detail .package_title, .welcome_recommand .theme_select article .theme_list .theme .theme_main .theme_detail .package_title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .welcome_select .package article .theme_list .theme .package_subtitle, .welcome_select .theme_select article .theme_list .theme .package_subtitle, .welcome_recommand .package article .theme_list .theme .package_subtitle, .welcome_recommand .theme_select article .theme_list .theme .package_subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .welcome_select .package article .theme_list .theme .item_list, .welcome_select .theme_select article .theme_list .theme .item_list, .welcome_recommand .package article .theme_list .theme .item_list, .welcome_recommand .theme_select article .theme_list .theme .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card, .welcome_select .theme_select article .theme_list .theme .item_list .item_card, .welcome_recommand .package article .theme_list .theme .item_list .item_card, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card {
    width: 47%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card.active, .welcome_select .theme_select article .theme_list .theme .item_list .item_card.active, .welcome_recommand .package article .theme_list .theme .item_list .item_card.active, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info, .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info .item_img, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info .item_detail, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info .item_detail div, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .package article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .package article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .theme_select article .theme_list .theme .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .welcome_product, .welcome_select .add_item, .welcome_recommand .welcome_product, .welcome_recommand .add_item {
    width: 100%;
    margin-top: 10%;
    overflow: hidden;
    background: #eee;
    padding: 10% 20px;
  }
  .welcome_select .welcome_product h4, .welcome_select .add_item h4, .welcome_recommand .welcome_product h4, .welcome_recommand .add_item h4 {
    margin-bottom: 15%;
  }
  .welcome_select .welcome_product h3, .welcome_select .add_item h3, .welcome_recommand .welcome_product h3, .welcome_recommand .add_item h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list, .welcome_select .add_item .product_slide_wrapper .item_list, .welcome_recommand .welcome_product .product_slide_wrapper .item_list, .welcome_recommand .add_item .product_slide_wrapper .item_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card, .welcome_select .add_item .product_slide_wrapper .item_list .item_card, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card {
    width: 47%;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 3%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card.active, .welcome_select .add_item .product_slide_wrapper .item_list .item_card.active, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card.active, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card.active {
    border: 5px solid hotpink;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_img, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_img {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div {
    width: 100%;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1), .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail div p:nth-of-type(1) {
    font-size: 0.8em;
  }
  .welcome_select .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_select .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .welcome_product .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn, .welcome_recommand .add_item .product_slide_wrapper .item_list .item_card .item_info .item_detail .item_more_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
  }
  .welcome_select .inquire, .welcome_recommand .inquire {
    padding: 0 20px;
  }
  .detail_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .detail_lightbox p {
    width: 90vw;
  }
  .detail_lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart {
    width: 80%;
    height: 40px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: fixed;
    bottom: 2%;
    left: 10%;
    background: #2564D8;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
  }
  .cart.active {
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    border-radius: 0;
    padding: 0 20px;
  }
  .cart.active article {
    display: block;
  }
  .cart.active .cart_title {
    display: block;
  }
  .cart.active .cart_icon {
    display: none;
  }
  .cart.active .cart_list {
    display: block;
  }
  .cart.active .order {
    display: block;
  }
  .cart article {
    display: none;
  }
  .cart .cart_icon {
    display: none;
  }
  .cart .cart_title {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
  }
  .cart .cart_list {
    display: none;
    overflow: auto;
    margin: 5% 0;
  }
  .cart .cart_list li {
    margin-bottom: 5%;
  }
  .cart .cart_list li .item_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .cart .cart_list li .item_info .item_img {
    width: 30%;
  }
}
/*# sourceMappingURL=order.css.map */