@import url(common.css);

@media (min-width: 768px) {
    @import 'header';
    
    main {
        padding-top: 3%;
    }
    @import 'product';
    @import'cart';
    @import 'footer';
}

@media (max-width: 480px) {
    @import 'header480';
    main{
        margin-top: 7vh;
        padding: 0 20px;
        // background-color: #A5BDE2;
         
        h2 {
            font-size: 3rem;
            text-align: center;
            font-family: 'DM Serif Display', serif;
            // color: #fff;
        }
    }

    .config_nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
        background: #fff;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width:30%;
            height: 60px;
            border-radius: 10px;
            color: #777;
            font-size: 0.8rem;
            font-weight: bold;
            transition: .3s;

            &.active {
                background-color: #A5BDE2;
                color: #fff;
                font-size: 1rem;
            }
        }
    }
    .choice {
        display: none;

        &.active {
            display: block;
        }
    }
    .recommand {
        display: none;

        &.active {
            display: block;
        }
    }

    @import 'product480';
    @import 'cart480';
    @import 'footer480';

}

