@import url(common.css);
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 0 3%;
  }
  header .menu_trigger {
    display: none;
  }
  header .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart_icon img {
    width: 100%;
  }
  header .menu_nav_back {
    width: 70%;
  }
  header .menu_nav_back .menu_nav {
    width: 100%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu_nav_back .menu_nav:nth-of-type(2) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
    background: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu_nav_back .menu_nav:hover:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 7vh;
    left: 0;
  }
  .welcome_about {
    padding: 5% 15% 20% 15%;
    width: 100%;
    position: relative;
  }
  .welcome_about .welcome_title {
    max-width: 1200px;
    padding-bottom: 10%;
  }
  .welcome_about .welcome_title .welcome_title_main {
    position: relative;
    width: 100%;
    height: 40vh;
  }
  .welcome_about .welcome_title .welcome_title_main h2 {
    font-size: 5rem;
    font-weight: bold;
  }
  .welcome_about .welcome_title .welcome_title_main .welcome_img {
    width: 60%;
    position: absolute;
    top: 15%;
    right: 0;
  }
  .welcome_about .welcome_title .welcome_title_sub {
    width: 100%;
    padding-left: 1%;
  }
  .welcome_about .welcome_title .welcome_title_sub p {
    white-space: pre-line;
    color: #777;
    font-size: 1.25rem;
    line-height: 2;
  }
  .welcome_about .welcome_title .welcome_title_sub p:last-child {
    font-size: 1.25rem;
    color: #111;
  }
  .welcome_about .welcome_contents {
    width: 100%;
    margin: 0 auto;
    padding: 5% 15%;
    position: absolute;
    bottom: -12%;
    left: 0%;
    z-index: 30;
    background: #eee;
  }
  .welcome_about .welcome_contents h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  .welcome_about .welcome_contents > p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
    color: #777;
  }
  .welcome_about .welcome_contents .welcome_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .welcome_about .welcome_contents .welcome_btn a {
    display: inline-block;
    width: 30%;
  }
  .welcome_about .welcome_contents .welcome_btn a:hover figure {
    color: #fff;
    background: #777;
  }
  .welcome_about .welcome_contents .welcome_btn a figure {
    width: 100%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    color: #333;
    border-radius: 30px;
  }
  .welcome_about .welcome_contents .welcome_btn a figure > p {
    width: 100%;
    padding: 3%;
    border: 1px solid #333;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption {
    width: 70%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption h4 {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption p {
    font-size: 1rem;
  }
  .welcome_portfolio {
    width: 100%;
    padding: 20% 0 10% 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_portfolio h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
  }
  .welcome_portfolio .portfolio_slide {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-left: 5%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
    height: 60vh;
    margin: 0 5% 0 0;
    border-radius: 20px;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 75%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    color: #333;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 1.5rem;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 12px;
  }
  footer {
    width: 100%;
  }
  footer p {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 0 2%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  header .menu_trigger {
    position: relative;
    width: 20px;
    height: 13px;
    z-index: 30;
  }
  header .menu_trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  header .menu_trigger span:nth-of-type(2) {
    top: 48%;
  }
  header .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .menu_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  header .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
  }
  header .logo {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart_icon {
    width: 30px;
    height: 30px;
  }
  header .menu_nav_back {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .menu_nav_back.active {
    left: 0;
  }
  header .menu_nav_back .menu_nav {
    width: 70%;
    height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 25;
    font-size: 1rem;
  }
  header .menu_nav_back .menu_nav a {
    margin: 5% 0;
  }
  main {
    padding-top: 7vh;
  }
  .welcome_about {
    padding: 10px 0;
    width: 100%;
  }
  .welcome_about .welcome_title {
    padding: 0 20px;
  }
  .welcome_about .welcome_title .welcome_title_main {
    position: relative;
    width: 100%;
    height: 60vh;
  }
  .welcome_about .welcome_title .welcome_title_main h2 {
    font-size: 3rem;
    color: #333;
    position: absolute;
    top: 2%;
    left: 20px;
    z-index: 3;
  }
  .welcome_about .welcome_title .welcome_title_main .welcome_img {
    width: 90%;
    position: absolute;
    top: 35%;
    right: 0;
    z-index: 2;
  }
  .welcome_about .welcome_title .welcome_title_sub {
    width: 100%;
    margin-bottom: 10%;
  }
  .welcome_about .welcome_title .welcome_title_sub h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: 'DM Serif Display', serif;
  }
  .welcome_about .welcome_title .welcome_title_sub p {
    white-space: pre-line;
    color: #555;
    font-size: 1rem;
  }
  .welcome_about .welcome_contents {
    width: 100%;
    padding: 10% 20px;
    background: #eee;
  }
  .welcome_about .welcome_contents h2 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 5%;
  }
  .welcome_about .welcome_contents > p {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .welcome_about .welcome_contents .welcome_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .welcome_about .welcome_contents .welcome_btn a {
    display: inline-block;
  }
  .welcome_about .welcome_contents .welcome_btn a figure {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 5%;
    overflow: hidden;
    padding: 3%;
  }
  .welcome_about .welcome_contents .welcome_btn a figure > p {
    width: 25%;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption {
    width: 68%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption h4 {
    font-size: 1rem;
    white-space: nowrap;
  }
  .welcome_about .welcome_contents .welcome_btn a figure figcaption p {
    font-size: 0.6rem;
  }
  .welcome_portfolio {
    width: 100%;
    margin: 5% 0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  .welcome_portfolio h2 {
    font-size: 1.5rem;
  }
  .welcome_portfolio .portfolio_slide {
    width: 100%;
    margin-top: 5%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: 60vh;
    overflow: hidden;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 100%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 1.5rem;
  }
  .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 0.8rem;
  }
  .welcome_portfolio .scroll {
    margin-top: 5%;
    position: relative;
  }
}
/*# sourceMappingURL=welcome.css.map */