@import url(common.css);

@import "header";

@media (min-width: 768px) {
    
    main {
        padding-top: 3%;

        @import 'category';
       
        .welcome_about {
            width: 100%;
            padding: 0 0 0 15%;

            h2 {
                font-size: 40px;
                font-family: 'DM Serif Display', serif;
                color: #aaa;
            }
            h3 {
                font-size: 18px;
                text-align: left;
                // font-family: 'Noto Serif KR', serif;
                padding-left: 5%;
            }
            >p {
                font-family: 'Noto Serif KR', serif;
                opacity: 0.8;
            }
            .welcome_img {
                width:  500px;
            }
            ul {
                width: 100%; height: 100%;
                margin-top: 15%;
                
                li {
                    width: 100%;
                    padding-left: 5%;
                    margin-bottom: 20%;
                    p {
                        font-size: 18px;
                        font-family: 'Noto Serif KR', serif;
                    }
                    h4 {
                        font-size: 16px;
                        margin-bottom: 3%;
                    }
                }
            }
        }
        .welcome_portfolio {
            width: 100%; 
            height: 65vh;
            padding: 0 0 0 15%;
            margin: 20% 0;

            h2 {
                font-family: 'DM Serif Display', serif;
                font-size: 32px;
                margin-bottom: 7%;
            }
            .portfolio_slide {
                width: 20%; height: 100%;
                display: flex;
                padding: 0 0 0 5%;

                .portfolio_card {
                    flex: 0 0 auto;
                    width: 100% !important;
                    height: 100%;
                    margin: 0 7% 0 0;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);

                    figure {
                        width: 100%; height: 100%;
                        position: relative;
    
                        > p {
                            width: 100%; height: 100%;
                          img {
                              height: 100%;
                          }
                        }

                        figcaption {
                            position: absolute;
                            left: 0; bottom: 5%;
                            width: 100%; height: 35%;
                            background: rgba(0, 0, 0, 0.8);
                            color: #fff;
                            padding: 5%;
                            
                            h6 {
                                font-size: 24px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .welcome_product {
            width: 100%;
            padding-left: 20%;

            >h2 {
                font-family: 'DM Serif Display', serif;
                font-size: 32px;
                margin-bottom: 7%;
            }
            >h3 {
                font-size: 24px;
                width: 100%;
                padding-left: 7%;
                text-align: left;
                margin-bottom: 7%;
            }
            .product_list {
                width: 100%; 
                padding-left: 7%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 5%;
                
                .item_card{
                    width: 23%;
                    transition: .1s;

                    &.active {
                        border: 5px solid green;
                    }
                    .item_info{
                        width: 100%; height: 100%;

                        .item_img {
                            width: 100%;
                        }
                        .item_detail {
                            
                            p {
                                &:nth-of-type(1) {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }

}

@import 'product480';
@import 'footer';
