@import url(common.css);
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    border-bottom: 1px solid #eee;
    background: #fff;
  }
  header .menu_trigger {
    display: none;
  }
  header .logo {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart img {
    width: 100%;
  }
  header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 2%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
            box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
  }
  header .menu_trigger {
    position: relative;
    width: 20px;
    height: 13px;
    z-index: 30;
  }
  header .menu_trigger span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  header .menu_trigger span:nth-of-type(2) {
    top: 49%;
  }
  header .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header .menu_trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  header .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu_trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
  header .logo {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo img {
    width: 100%;
  }
  header .cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  header .cart img {
    width: 100%;
  }
  header nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 25;
    font-size: 24px;
  }
  header nav a {
    margin: 5% 0;
  }
  header nav.active {
    left: 0;
  }
}

@media (min-width: 768px) {
  main {
    padding-top: 3%;
  }
  main .category {
    position: fixed;
    top: 0;
    left: -100%;
    width: 17%;
    height: 100vh;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 0 0 3%;
    -webkit-transition: .8s;
    transition: .8s;
  }
  main .category.active {
    left: 0;
  }
  main .category h2 {
    font-family: 'DM Serif Display', serif;
    text-align: left;
    margin-bottom: 20%;
    border-bottom: 2px solid #000;
  }
  main .category > a {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20%;
    font-weight: bolder;
  }
  main .category .config > a {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20%;
    font-weight: bolder;
  }
  main .category .config > a::after {
    content: " +";
  }
  main .category .config .config_list {
    width: 100%;
    height: 0;
    margin-top: 10%;
    padding-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: .8s;
    transition: .8s;
    overflow: hidden;
  }
  main .category .config .config_list.active {
    height: 80%;
  }
  main .category .config .config_list.active .category_con {
    opacity: 1;
  }
  main .category .config .config_list .category_con {
    opacity: 0;
    height: 50px;
    white-space: nowrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-transition: .8s;
    transition: .8s;
    text-align: left;
    font-size: 20px;
  }
  main .welcome_about {
    width: 100%;
    padding: 0 0 0 15%;
  }
  main .welcome_about h2 {
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
    color: #aaa;
  }
  main .welcome_about h3 {
    font-size: 18px;
    text-align: left;
    padding-left: 5%;
  }
  main .welcome_about > p {
    font-family: 'Noto Serif KR', serif;
    opacity: 0.8;
  }
  main .welcome_about .welcome_img {
    width: 500px;
  }
  main .welcome_about ul {
    width: 100%;
    height: 100%;
    margin-top: 15%;
  }
  main .welcome_about ul li {
    width: 100%;
    padding-left: 5%;
    margin-bottom: 20%;
  }
  main .welcome_about ul li p {
    font-size: 18px;
    font-family: 'Noto Serif KR', serif;
  }
  main .welcome_about ul li h4 {
    font-size: 16px;
    margin-bottom: 3%;
  }
  main .welcome_portfolio {
    width: 100%;
    height: 500px;
    padding: 0 0 0 15%;
    margin: 20% 0;
  }
  main .welcome_portfolio h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    margin-bottom: 3%;
  }
  main .welcome_portfolio .portfolio_slide {
    width: 350px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100% !important;
    height: 100%;
    margin: 0 5% 0 0;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 100%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 24px;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 12px;
  }
  main .welcome_product {
    width: 100%;
    padding-left: 20%;
  }
  main .welcome_product > h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    margin-bottom: 7%;
  }
  main .welcome_product > h3 {
    font-size: 24px;
    width: 100%;
    padding-left: 7%;
    text-align: left;
    margin-bottom: 7%;
  }
  main .welcome_product .product_list {
    width: 100%;
    padding-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5%;
  }
  main .welcome_product .product_list .item_card {
    width: 23%;
    -webkit-transition: .1s;
    transition: .1s;
  }
  main .welcome_product .product_list .item_card.active {
    border: 5px solid green;
  }
  main .welcome_product .product_list .item_card .item_info {
    width: 100%;
    height: 100%;
  }
  main .welcome_product .product_list .item_card .item_info .item_img {
    width: 100%;
  }
  main .welcome_product .product_list .item_card .item_info .item_detail p:nth-of-type(1) {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  main {
    padding-top: 168px;
  }
  main .category {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5% 0;
  }
  main .category h2 {
    font-family: 'DM Serif Display', serif;
  }
  main .category .category_list {
    width: 100%;
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .category .category_list .swiper-slide {
    width: auto !important;
    white-space: nowrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: inline-block;
  }
  main .category .category_list .swiper-slide:nth-of-type(1) {
    text-decoration: underline;
  }
  main .welcome_portfolio {
    width: 100%;
    height: 65vh;
    padding: 0;
    margin: 20% 0;
    overflow: hidden;
  }
  main .welcome_portfolio h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    margin-bottom: 7%;
  }
  main .welcome_portfolio .portfolio_slide {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure > p {
    width: 100%;
    height: 100%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure > p img {
    height: 100%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    height: 35%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5%;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption h6 {
    font-size: 24px;
  }
  main .welcome_portfolio .portfolio_slide .portfolio_card figure figcaption p {
    font-size: 12px;
  }
  main .product_list {
    width: 100%;
  }
  main .product_list ul {
    width: 100%;
  }
  main .product_list ul .item_card {
    width: 90%;
    height: 18vh;
    margin: 3% auto;
    background: #eee;
    border-radius: 2vh;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  }
  main .product_list ul .item_card .item_info {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .product_list ul .item_card .item_info .item_img {
    width: 146px;
    height: 100%;
  }
  main .product_list ul .item_card .item_info .item_img img {
    width: 100%;
  }
  main .product_list ul .item_card .item_info .item_detail {
    width: 63%;
    height: 100%;
    padding: 9% 5%;
  }
  main .product_list ul .item_card .item_info .item_detail p:nth-of-type(1) {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) {
  footer {
    width: 100%;
    background: #eee;
  }
  footer p {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  footer {
    display: none;
    width: 100%;
    height: 250px;
    background: #eee;
  }
  footer p {
    width: 100%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=welcome.css.map */