.config-main {
    background: #eee;
    padding: 7vh 0 3% 0;

    h1 {
        font-size: 3.5rem;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        color: #333;
        margin-bottom: 10%;
    }    
    >p {
        width: 100%;
        text-align: center;
        color: #777;
        margin-bottom: 5%;
    }
    .config-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 3% 0;
        background: #fff;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 40px;
            color: #777;
            font-size: 0.8rem;
            font-weight: bold;
            transition: .3s;
            background: #fff;
            border-right: 1px solid #777;

            &:last-child {
                border: 0;
            }


            &.active {
                color: #fff;
                background: #333;
            }
        }
    }
}

.welcome-recommand {
    display: none;
}

.configurator {
    display: none;

    &.active {
        display: block;
    }

    >section {
        margin-bottom: 10%;
    }

    h2 {
        font-size: 1.5rem;
        color: #333;
    }

    .package-select, .budget-select {
        padding: 10vh 20px 5% 20px ;

        >p {
            text-align: center;
            color: #777;
            font-size: 0.8rem;
            padding: 1% 0 0 0;
        }
        article {

            .package-nav, .budget-nav {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10% 0;
                
                a {
                    display: inline-block;
                    padding: 3%;
                    color: #555;
                    border: 1px solid #aaa;
                    border-radius: 5px;

                    &.active {
                        background: #333;
                        color: #fff;

                    }
                }
            }
    
            .kit-list {
                display: flex;
                justify-content: space-between;
    
                .theme, .package {
    
                    display: none;
    
                    &.active {
                        display: block;
                    }
                    .theme-main {
                        
                        .theme-img {
                            width: 100%;
                        }
                        .theme-detail {
                            width: 100%;
                    
                            .kit-title {
                                font-size: 1.8rem;
                                font-weight: bold;
                                margin: 5% 0;
                                color: #111;
                            }

                            >div {
                                margin-bottom: 15%;
                                color: #555;
                            } 
                           
                        }
                    }
                    .budget-btn {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 10%;

                        a {
                            display: inline-block;
                            width: 40%;
                            padding: 3%;
                            position: relative;
                            background: #111;
                            color: #fff;

                            &::after {
                                display: block;
                                content: '';
                                position: absolute;
                                background: url('../src/img/icon/circlecheck.png') center center / cover;
                                top: 17%; right: 10px;
                                width: 25px;
                                height: 25px;
                            }

                        }
                    }
                    .compose {
          
                        .kit-subtitle {
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-align: center;
                            color: #333;
                            margin-bottom: 10%;
                        }

                        .budget-item-list {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            margin-bottom: 5%;
                            
                            .item-card{
                                width: 47%;
                                flex: 0 0 47%;
                                margin: 0 3% 10% 0;
                                transition: .1s;
                                position: relative;
                                
                                &.active {
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: url('../src/img/icon/itemcheck.png') center center no-repeat rgba(0, 0, 0, 0.4);
                                        z-index: 10;
                                    }
                                }
                                .item-info{
                                    width: 100%; height: 100%;
                    
                                    .item-img {
                                        width: 100%;
                                    }
                                    .item-detail {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                
                                        div {
                                            width: 100%;
                                            text-align: center;
    
                                            h4{
                                                font-size: 1rem;
                                                margin-bottom: 3%;
                                            }
                                            p {
                                                margin-bottom: 3%;
    
                                                &:nth-of-type(1) {
                                                    font-size: 0.8em;
                                                }
                                            }
                                        }
                                        .item-more-btn {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                
                                            width: 100px;
                                            height: 30px;
                
                                            border: 1px solid #000;
                
                                        }
                                    }
                                }
                            }
                        }
                    }
                 
              
                }
            }
        }
        
    }

    .welcome-product, .add-item {
        width: 100%;
        min-height: 100vh;
        height: auto;
        overflow: hidden;
        background: #eee;
        padding: 10vh 20px;


        &.active {
            height: auto;
        }

        h4{
            margin-bottom: 10%;
        }

        .ask {
            width: 80%;
            margin: 0 auto;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                text-align: center;
                border: 1px solid #111;
                margin-bottom: 5%;
                color: #111;
                background: #fff;

                &.active {
                    color: #fff;
                    background: #333;
                }

            }
        }

        .ready-btn {
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            display: none;

            &.active {
                display: flex;
            }
            

            a {
                width: 50%;
                text-align: center;
                padding: 3%;
                background: #111;
                margin-left: 3%;

              
                background: #111;
                color: #fff;
                display: flex;
                align-items: center;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    background: url('../src/img/icon/circlecheck.png') center center / cover;
                    top: 13%; right: 10px;
                    width: 30px;
                    height: 30px;
                }

            }
        }

        .item-box {
            &.item-box-recommand {
                display: none;

                &.active {
                    display: block;
                }
            }
            

            >p {
                padding: 2% 0 0 11%;
                font-size: 0.8rem;
                color: #555;
            }
            
            h3 {
                display: none;
            }

            .swiperaaa, .swiper-title {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 10% 0;
                background: #fff;
                border-radius: 5px;
                border: 1px solid #aaa;

                a {
                    width: 25%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    border-radius: 0;
                    color: #555;
                    border-right: 1px solid #aaa;
                
                    &:last-child {
                        border: 0;
                    }
                    &.active {
                        color: #fff;
                        background: #333;
                    }
                }
            }

            .product-slide-wrapper {
        
                .item-list {
                    height: auto;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin-bottom: 5%;
                    
                    &.add-list{
                        display: none;

                        &.active {
                            display: flex;
                        }
                    }

                    &.select-list{
                        display: none;

                        &.active {
                            display: flex;
                        }
                    }

                    .item-card{
                        width: 47%;
                        flex: 0 0 47%;
                        transition: .1s;
                        margin: 0 3% 10% 0;
                        position: relative;
    
                        &.active {
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: url('../src/img/icon/itemcheck.png') center center no-repeat rgba(0, 0, 0, 0.4);
                                z-index: 10;
                            }
                        }
                        .item-info{
                            width: 100%; height: 100%;
            
                            .item-img {
                                width: 100%;
                            }
                            .item-detail {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                div {
                                    width: 100%;
                                    text-align: center;
    
                                    h4 {
                                        font-size: 1rem;
                                        margin-bottom: 3%;
    
                                    }
                                    p {
                                        margin-bottom: 3%;
                                        &:nth-of-type(1) {
                                            font-size: 0.8em;
                                        }
                                    }
                                }
                                .item-more-btn {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
        
                                    width: 100px;
                                    height: 30px;
        
                                    border: 1px solid #000;
        
                                }
                            }
                        }
                    }
                }
            }
        }

        
    }
  
}

.step-nav {
    display: none;
}

.detail-lightbox {
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 30;
    transition: .7s;

    p {
        width: 90vw;
    }
    &.active {
        display: flex;
    }
}

.inquire {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 10vh 20px 0 20px;

    .inquire-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
}